#jogos {
  background-image: url(../img/backgrounds/bg-mario-2.png),
    linear-gradient(180deg, #115786 16%, #a004a5 76%);
  position: relative;
  overflow: hidden;
}

.card {
  background-image: url(../img/backgrounds/bg-mario-black.png);
  background-clip: padding-box;
  border: 4px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  transition: opacity 0.3s ease;
  transition: 0.2s;
}

.card:hover {
  opacity: 0.8;
  transition: 0.2s;
  background-clip: padding-box;
  border: 4px solid transparent;
  box-shadow: 0 0 0 2px #fff;
  transform: translateY(-7px);
}